{% extends "blog/base.html" %}
{% block content %}
	{% for post in posts %}
		<article class="article">
			<div class="article__wrapper row">
				<div class="col-md-2">
					<img class="rounded-circle article__image " src="{{ post.author.profile.image.url }}" alt="">
				</div>
				<div class="col-md-10">
					<div class="article__meta">
						<a class="article__author mr-2" href="#">{{ post.author }}</a>
						<small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
					</div>
					<h2>
						<a class="article__title-link" href="{% url 'post-detail' post.id %}">{{ post.title }}</a>
					</h2>
					<p class="article__content">{{ post.content }}</p>
				</div>
			</div>
		</article>
	{% endfor %}
{% endblock content %}
