{% extends "blog/base.html" %}
{% block content %}
    <article class="article">
        <div class="article__wrapper row">
            <div class="col-md-2">
                <img class="rounded-circle article__image " src="{{ object.author.profile.image.url }}" alt="">
            </div>
            <div class="col-md-10">
                <div class="article__meta">
                    <a class="article__author mr-2" href="#">{{ object.author }}</a>
                    <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                    {% if object.author == user %}
                        <div>
                            <a href="{% url 'post-update' object.id %}" class="btn btn-secondary btn-sm mt-1 mb-1">Update</a>
                            <a href="{% url 'post-delete' object.id %}" class="btn btn-danger btn-sm mt-1 mb-1">Delete</a>
                        </div>
                    {% endif %}
                </div>
                <h2>
                    <h2 class="article__title" >{{ object.title }}</h2>
                </h2>
                <p class="article__content">{{ object.content }}</p>
            </div>
        </div>
    </article>
{% endblock content %}
