$em-base: 16;

@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  $base: $em-base;
  @if not unitless($base) {
    $base: strip-units($base);
  }
  @return ($pxval / $base) * 1rem;
}

@mixin wrapper() {
  background: #ffffff;
  padding: rem(10) rem(20);
  border-radius: rem(4);
  margin-bottom: rem(20);
}
